body, input, button{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
li {
    list-style: none;
    text-decoration: none;
}
a, button {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

/* header */
header {
    padding: 6px 6px;
    height: 60px; 
    margin: 0;  
}
#nav-bar-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
#nav-bar-top>li {
    padding-left: 15px;
}
svg {
    height: 24px;
    width: 24px;
    color: #5f6368;
    opacity: 1;
}
#picture-profil {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

/* main */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#search {
    padding: 20px 20px;
    width: 584px;
    
}
#top-search {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    z-index: 1;
    height: 44px;
    box-shadow: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 14px;
}
#top-search i {
    color: #9aa0a6;
    height: 20px;
width: 20px;
}
#top-search input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding:0px 10px;
color: rgba(0,0,0,.87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
}
#top-search:hover {
    background: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);  
}
#bot-search {
    padding-top: 18px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bot-search button {
    padding: 0px 16px;
    margin: 11px 4px;
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
height: 36px;
color: #3c4043;
}
#bot-search button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
 

}

#select-language a {
    padding: 0px 3px;
}






/* footer */
footer {
    height: 46px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgba(242, 242, 242, 1);
   border-top: 1px solid #e4e4e4;
   margin: 0;
}
#nav-left {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#nav-left>li>a {
    padding: 15px 15px;
    color: #70757a;
}
#nav-right {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#nav-right>li>a {
    padding: 15px 15px;
    color: #70757a;
}